@import '../../../../styles.scss';

.devsu-button {
  background-color: $color-white;
  font-weight: bold;
  font-size: 16px;
  border: none;
  padding: 15px 25px;
  border-radius: 3px;
  height: 55px;
  color: $color-primary;
  cursor: pointer;
  &--primary {
    background-color: $color-yellow;
  }
  &--secondary {
    background-color: $color-blue;
  }
  &:disabled {
    filter: opacity(0.5);
    cursor: not-allowed;
  }
  &--full-block {
    width: 100%;
  }
}

@media screen and (max-width: $breackpoint-cel) {
  .devsu-button {
    font-size: 12px;
    height: 40px;
    padding: 10px 20px;
  }
}
