@import '../../../../styles.scss';

.modal-overlay {
  width: 100%;
  height: 100vh;
  z-index: 9998;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.active {
  display: flex;
}

.modal-container {
  background-color: $color-white;
  color: #333;
  min-width: 200px;
  min-height: 250px;
  border-radius: 15px;
  padding: 40px 20px 20px;
  box-shadow: 2px 10px 55px 0px rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
  &--without-background {
    background-color: transparent;
    box-shadow: none;
  }

  &__close {
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
    font-size: 35px;
    font-weight: bold;
    color: $color-black;
    position: absolute;
    cursor: pointer;
    top: 10px;
    right: 16px;
  }
}

.modal-size {
  &-xs {
    max-width: 35%;
    max-height: 35%;
  }
  &-md {
    max-width: 55%;
    max-height: 55%;
  }
  &-xl {
    max-width: 80%;
    max-height: 80%;
  }
  &-full {
    max-width: 100%;
    max-height: 100%;
    box-shadow: none;
    border-radius: 0;
  }
}

@media (max-width: $breackpoint-cel) {
  .modal-size {
    &-xs,
    &-md,
    &-xl {
      max-width: 90% !important;
      max-height: 90% !important;
    }
  }
}
