<div class="modal-overlay" [ngClass]="{ active: showModal }" (click)="closeModalOverlay($event)">
  <div
    class="modal-container"
    [ngClass]="{
      'modal-container--without-background': removeBackground,
      'modal-size-xs': size === sizeModal.SMALL,
      'modal-size-md': size === sizeModal.MEDIUM,
      'modal-size-xl': size === sizeModal.EXTRALARGE,
      'modal-size-full': size === sizeModal.FULLSCREEN
    }"
  >
    <button class="modal-container__close" (click)="closeModal()" *ngIf="isCloseable">
      <i class="fa-solid fa-xmark"></i>
    </button>
    <ng-container *ngTemplateOutlet="template"></ng-container>
  </div>
</div>
