@import '../../../../styles.scss';

.alert {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: $color-black;
  color: $color-white;
  padding: 15px 20px;
  border-radius: 5px;
  z-index: 9999;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: top 0.3s ease;
  font-size: 16px;
  transition: all 0.3s;
  font-size: 18px;
  line-height: 18px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  animation: fadeInLeft 5s ease forwards;
  &:hover {
    cursor: pointer;
    filter: opacity(0.5);
  }
  &--info {
    background-color: $color-primary;
  }
  &--warning {
    background-color: $color-yellow;
    color: $color-black;
  }
  &--success {
    background-color: $color-green;
  }
  &--error {
    background-color: $color-red;
  }
  &-button {
    border: none;
    color: $color-white;
    background-color: transparent;
    cursor: pointer;
    margin-right: 10px;
    &--warning {
      color: $color-black;
    }
    i {
      font-size: 18px;
    }
  }
}

.hidden {
  opacity: 0;
  transform: translateX(100%);
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  30% {
    opacity: 1;
    transform: translateX(0);
  }
  90% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(50px);
  }
}
