@import '../../../styles.scss';

.form {
  width: 100%;
  max-width: 750px;
  margin: auto;
  background-color: $color-white;
  &__title {
    padding: 35px 25px;
    text-align: center;
    font-size: 28px;
    border-bottom: solid 1px $color-gray;
  }
}

.data {
  padding: 25px 35px 35px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 13px;
  height: 85px;
  &__label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  &__text-invalid {
    color: $color-red;
    font-size: 12px;
    margin-top: 5px;
    font-weight: bold;
  }
  &--disabled {
    background-color: $color-disabled;
    color: $color-gray;
  }
  &--invalid {
    border: solid 1px $color-red !important; /*the general input class of styles.scss is overwritten*/
    &:focus {
      outline: solid 1px $color-red !important; /*the general input class of styles.scss is overwritten*/
    }
  }
}

.actions {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  width: 100%;
  app-button {
    margin: 15px 30px;
  }
}

@media screen and (max-width: $breackpoint-cel) {
  .form {
    &__title {
      padding: 15px;
      font-size: 22px;
    }
  }

  .data {
    padding: 25px 35px 25px;
  }
  .form-group {
    height: 70px;
    &__text-invalid {
      font-size: 10px;
      margin-top: 3px;
    }
  }
}
