<div class="container">
  <div class="form">
    <h1 class="form__title">{{ isEditMode ? 'Editar de Registro' : 'Formulario de Registro' }}</h1>
    <form class="data" [formGroup]="productForm">
      <div class="row">
        <div class="col-md-6 form-group">
          <label class="form-group__label" for="id">ID</label>
          <input
            id="id"
            type="text"
            formControlName="id"
            class="form-group__input"
            [ngClass]="{ 'form-group--invalid': submitted && formControls['id'].invalid }"
            maxlength="10"
          />
          <div *ngIf="submitted && formControls['id'].invalid" class="form-group__text-invalid">
            {{ formControls['id'].value === '' ? 'Este campo es requerido' : 'ID no válido' }}
          </div>
        </div>
        <div class="col-md-6 form-group">
          <label class="form-group__label" for="name">Nombre</label>
          <input
            id="name"
            type="text"
            formControlName="name"
            class="form-group__input"
            [ngClass]="{ 'form-group--invalid': submitted && formControls['name'].invalid }"
            maxlength="100"
          />
          <div *ngIf="submitted && formControls['name'].invalid" class="form-group__text-invalid">
            {{ formControls['name'].value === '' ? 'Este campo es requerido' : 'Nombre no válido' }}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 form-group">
          <label class="form-group__label" for="description" maxlength="200">Descripción</label>
          <input
            id="description"
            type="text"
            formControlName="description"
            class="form-group__input"
            [ngClass]="{ 'form-group--invalid': submitted && formControls['description'].invalid }"
          />
          <div
            *ngIf="submitted && formControls['description'].invalid"
            class="form-group__text-invalid"
          >
            {{
              formControls['description'].value === ''
                ? 'Este campo es requerido'
                : 'Description no válida'
            }}
          </div>
        </div>
        <div class="col-md-6 form-group">
          <label class="form-group__label" for="logo">Logo</label>
          <input
            id="logo"
            type="text"
            formControlName="logo"
            class="form-group__input"
            [ngClass]="{
              'form-group--invalid':
                submitted &&
                (formControls['logo'].invalid || formControls['logo'].errors?.['urlInvalidImage'])
            }"
          />
          <div
            *ngIf="
              submitted &&
              (formControls['logo'].invalid || formControls['logo'].errors?.['urlInvalidImage'])
            "
            class="form-group__text-invalid"
          >
            {{
              formControls['logo'].value === ''
                ? 'Este campo es requerido'
                : 'URL de imagen no válida'
            }}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 form-group">
          <label class="form-group__label" for="date_release">Fecha Liberación</label>
          <input
            id="date_release"
            type="date"
            formControlName="date_release"
            class="form-group__input"
            [ngClass]="{ 'form-group--invalid': submitted && formControls['date_release'].invalid }"
          />
          <div
            *ngIf="submitted && formControls['date_release'].invalid"
            class="form-group__text-invalid"
          >
            {{
              formControls['date_release'].value === ''
                ? 'Este campo es requerido'
                : 'Fecha no válida'
            }}
          </div>
        </div>
        <div class="col-md-6 form-group">
          <label class="form-group__label" for="date_revision">Fecha Revisión</label>
          <input
            id="date_revision"
            type="date"
            formControlName="date_revision"
            class="form-group__input form-group--disabled"
            readonly
            [disabled]="true"
          />
        </div>
      </div>
      <div class="actions">
        <app-button
          text="Reiniciar"
          widthButton="130px"
          [type]="typeButton.SECONDARY"
          (actionClick)="resetForm()"
        ></app-button>
        <app-button
          text="Enviar"
          widthButton="130px"
          [type]="typeButton.PRIMARY"
          (actionClick)="onSubmit()"
        ></app-button>
      </div>
    </form>
  </div>
</div>
