<div class="container">
  <div class="options">
    <input
      class="options__serach-input"
      type="text"
      placeholder="Buscar..."
      [(ngModel)]="searchTerm"
      (ngModelChange)="changeQuantityRecords()"
    />
    <app-button text="Agregar" routerLink="/product/add" [type]="typeButton.PRIMARY"></app-button>
  </div>
  <div class="data-table">
    <table class="responsive-table">
      <thead>
        <tr>
          <th class="center-data">Logo</th>
          <th>Nombre del producto</th>
          <th>Descripción <i class="fa-solid fa-circle-info"></i></th>
          <th>Fecha de liberación <i class="fa-solid fa-circle-info"></i></th>
          <th>Fecha de reestructuración <i class="fa-solid fa-circle-info"></i></th>
          <th class="center-data"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of showData; trackBy: trackById">
          <td class="center-data">
            <img class="icon-data" [src]="item.logo" alt="logo" />
          </td>
          <td>{{ item.name }}</td>
          <td>{{ item.description }}</td>
          <td>{{ item.date_release | date: 'dd/MM/yyyy' }}</td>
          <td>{{ item.date_revision | date: 'dd/MM/yyyy' }}</td>
          <td class="center-data">
            <div class="dropdown">
              <i class="dropbtn fa-solid fa-ellipsis-vertical"></i>
              <div class="dropdown-content">
                <button class="dropdown-content__btn" (click)="editProduct(item)">
                  <i class="fa-solid fa-pen-to-square"></i> Modificar
                </button>
                <button class="dropdown-content__btn" (click)="selectItem(item)">
                  <i class="fa-solid fa-trash"></i> Eliminar
                </button>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="table-footer">
      <section class="left-section">
        <label for="quantity">{{ totalRecords }} Resultados</label>
      </section>

      <section class="right-section">
        <div class="pagination">
          <button
            class="pagination__btn"
            (click)="changePage(currentPage - 1)"
            [disabled]="currentPage === 1"
          >
            <i class="fa-solid fa-angle-left"></i>
          </button>
          <span>{{ currentPage }} de {{ totalPages }}</span>
          <button
            class="pagination__btn"
            (click)="changePage(currentPage + 1)"
            [disabled]="currentPage === totalPages"
          >
            <i class="fa-solid fa-angle-right"></i>
          </button>
        </div>
        <select
          class="right-section__select"
          id="quantity"
          [(ngModel)]="filterQuantityRecords"
          (ngModelChange)="changeQuantityRecords()"
        >
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="50">50</option>
        </select>
      </section>
    </div>
  </div>
</div>

<ng-template #confirmDelete>
  <div class="confirm-delete">
    <h1 class="confirm-delete__title">
      ¿Estas seguro de eliminar el producto {{ itemSelected?.name }}?
    </h1>

    <div class="actions">
      <app-button
        text="Cancelar"
        widthButton="220px"
        [type]="typeButton.SECONDARY"
        (actionClick)="showModalConfirm = false"
      ></app-button>
      <app-button
        text="Eliminar"
        widthButton="220px"
        [type]="typeButton.PRIMARY"
        (actionClick)="deleteProduct()"
      ></app-button>
    </div></div
></ng-template>

<app-modal
  [showModal]="showModalConfirm"
  [template]="confirmDelete"
  [isCloseable]="false"
  [removeBackground]="true"
  [size]="sizeModal.MEDIUM"
  (clickClose)="showModalConfirm = false"
>
</app-modal>
