@font-face {
  font-family: 'Sansation_Regular';
  src: url('./assets/fonts/Sansation_Regular.ttf') format('opentype');
  font-display: swap;
}

$breackpoint-table: 1024px;
$breackpoint-cel: 768px;

$color-primary: rgb(51, 71, 116);
$color-secondary: #f4f8ff;
$color-tertiary: rgb(224, 224, 224);
$color-white: #fff;
$color-black: #222;
$color-black-secondary: #444;
$color-gray: rgb(139, 139, 139);
$color-green: rgb(33, 151, 86);
$color-blue: rgb(234, 236, 242);
$color-yellow: rgb(245, 223, 102);
$color-red: rgb(223, 88, 88);
$color-disabled: rgb(235, 235, 235);
$color-border: rgb(199, 199, 199);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Sansation_Regular', sans-serif;
  input,
  select {
    height: 48px;
    padding: 10px;
    font-size: 14px;
    border-radius: 7px;
    border: solid 1px $color-border;
    outline: none;
    &:focus {
      outline: solid 1px $color-gray;
    }
  }
}

.hiden-desktop {
  display: none;
}
.show-desktop {
  display: block;
}

.container {
  width: 100%;
  height: calc(100vh - 78px);
  overflow-y: auto;
  background-color: $color-secondary;
  padding: 80px 50px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-md-6 {
  flex: 0 0 50%;
  max-width: 50%;
  padding-right: 15px;
  padding-left: 15px;
}

@media screen and (max-width: $breackpoint-table) {
  .hiden-desktop {
    display: block;
  }
  .show-desktop {
    display: none;
  }
}

@media screen and (max-width: $breackpoint-cel) {
  * {
    input,
    select {
      padding: 3px 5px;
      height: 40px;
      font-size: 12px;
    }
  }

  .container {
    height: calc(100vh - 61px);
    padding: 40px 20px;
  }
  .col-md-6 {
    flex: 0 0 100%;
    max-width: 100%;
    padding-right: 0;
    padding-left: 0;
  }
}
